/* CSS for rendered d3 map */

#d3-map {
  margin-bottom: 1.875em;
}

#d3-map path,
#d3-map rect {
  fill: #fff;
  stroke: #626463;
}

#d3-map path.us-state.active,
#d3-map rect.us-state.active {
  fill: #d6e7ed;
}

#d3-map path.us-state.hover,
#d3-map rect.us-state.hover {
  cursor: pointer;
  fill: #c84c30;
}

#d3-map text.us-state-label {
  fill: #626463;
}

#d3-map text.us-state-label.hover {
  fill: #fff;
}
